@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Set your brand colors
$purple: #E150AC;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$bg-left: #DCCCD6;
$blue-light:#CAF3FF;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
$primary: $purple;
$info: $blue-light;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";